<template>
  <q-page class="row">
    <div class="col-md-9 col-xs-12 q-pa-md">
      <q-card flat bordered>
        <q-card-section class="bg-grey-7 text-white q-pa-sm">
          <div class="text-subtitle1">Resultado Recorrido</div>
        </q-card-section>
        <q-card-section>
          <q-table flat bordered></q-table>
        </q-card-section>
      </q-card>
    </div>
    <div class="col-md-3 col-xs-12 q-pa-md">
      <q-card flat bordered>
        <q-card-section class="bg-grey-7 text-white q-pa-sm">
          <div class="text-subtitle1">Mapa</div>
        </q-card-section>
        <q-card-section class="mapContainer">
          <GMapMap
            :center="mapCenter"
            :zoom="13"
            ref="map"
            id="mapa"
            :options="gmapOptions"
          >
            <GMapMarker
              :key="index"
              v-for="(m, index) in marcadores"
              :position="m.position"
              :icon="m.icon"
              @click="center=m.position"
            />
          </GMapMap>
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'PageIndex',
  data () {
    return {
      registrosRecorrido: [],
      marcadores: [
        {
          position: { lat: -33.440735, lng: -70.677589 }
        }
      ],
      gmapOptions: {
        zoomControl: true,
        scaleControl: true,
      },
      mapCenter: { lat: -33.440735, lng: -70.677589 },
    }
  }
})
</script>

<style>
#mapa {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.mapContainer {
  height: 550px;
  width: 100%;
}
</style>
